img {
    max-height: max-content;
    max-width: max-content;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hidden {
    background-color: forestgreen;
    border-color: black;
}
.buttonClass {
    position: absolute;
    background-color: lime;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}